<br><text><font size="2" color="braun"> <=============================================><br>
<b> 
Cluster nodes system details:
</b>
<br> <=============================================></text><br>

<a onclick="myToggle('myDIV1')">Hide/Show this section</a>
<div id="myDIV1">
</font>
{% if ontap_info.ontap_info.system_node_info is defined %}
{% for node_name in ontap_info.ontap_info.system_node_info.items() | sort -%}

<br><text><font size="2" color="braun"> 
<b> 
 {{ node_name[0] }} node details information 
</b>
<br> 
</font></text>

<text>

  {%- for prm, prm_v in node_name[1].items()|sort -%}
  {% if prm in sysnode_prms %}
  
  {% if prm == 'is_epsilon_node' and prm_v in ok_status %}
  {{ prm }} = <font size="2" color="green"><b> {{ prm_v }} </b></font><br>
  {% else %}
  {{ prm }} = {{ prm_v }} <br>
  {% endif %}

  {% endif %}
  {% endfor %}


{% set stor_config = node_name[1] | json_query("node_storage_configuration") %}

  {% if 'multi' in stor_config %}
  System Storage Configuration: <b><font color="green" size="2"> {{ stor_config }} </font></b>
  {% else %}
  System Storage Configuration: <b><font color="red"  size="3">  {{ stor_config }}  </font></b> 
{% endif %}

</text>
{% endfor %}
{% else %}
{{ nosection('Nodes HW','system_node_info') }}

{% endif %}
</div>
